<h1> Tell me a funny story !</h1>
<p> So this one time at bandcamp, I took a <%= @noun %> and <%= @verb %> a feral duck.
the duck was <%= @adjective%> and had pink feathers. <%= @adverb %>, this duck had a gun and robbed me of all of my possessions.Such is life</p>
