<%= link_to 'Home', '/landing' %>
<h1> CHRIS </h1>
<h3> Guess the Price: </h3>
<ul>
    <li>Beautiful, white and blue oil abstract painting with inlayed gold paint</li>
    <li>Zany Zoo cube complete with 13 different activities and challenges for young tikes</li>
    <li>Professional Lenovo laptop</li>
</ul>
