<%= link_to 'Home', '/landing' %>
<h1> MARILYN </h1>
<h3> Guess the Price: </h3>
<ul>
    <li>My half maltese, half yorkie puppy</li>
    <li>LEARN Academy Macbook Air</li>
    <li>Lift-Top Desk</li>
</ul>
